header {
    height: 5vh;
}

main {
    height: 90vh;
}

footer {
    height: 5vh;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Style du header, navbar et du logo */
header {
    background-color: #d09f62;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    padding-left: 10px;
}

header p {
    font-size: 0.9em;
}

nav {
    display: flex;
    height: 65px;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    width: 100px;
    font: bold 12px Verdana;
}

/* Style du body */
.close-button {
    height: 30px;
    width: 30px;
    background-color: #d09f62;
    color: white;
    border: none;
    font-size: 30px;
}

.images {
    margin-top: 10vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    justify-items: center;
}

img {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 400px;
    height: 300px;
    gap: 5px;
    border-radius: 50%;
    margin: 20px;
    border: 5px solid #d09f62;
}

/* Style du body */
.recipes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 250px;
    overflow: auto;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #d09f62;
    border-radius: 10px;
    width: 170px;
    height: 200px;
    text-align: center;
    /* overflow: hidden; */
}

.meal-image {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    object-fit: cover;
}

h3 {
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
}

/* Style du footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: white;
    background-color: #d09f62;
    padding-left: 10px;
}

.footer_link {
    border: none;
    margin: 0 10px;
}