canvas {
    position: fixed;
    top: 0;
    left: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

}

.header {
    background-color: #333;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    background-color: #333;
    width: auto;
}

a {
    color: white;
    text-decoration: none;
    width: 100px;
    border-radius: 18px;
    padding: 8px 12px;
    font: bold 12px Verdana;
}

a:hover,
a:focus {
    color: #333;
    background-color: #fff;
}


a:not(:last-child) {
    margin-right: 12px;
}

.logo {
    height: 60px;
    width: auto;
    background-color: #333;
}

/* STYLE CSS DE L'INDEX */

.container {
    margin: 10px;
    flex: 1;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

.parentsTransitions {
    /* border: 2px solid red; */
    width: 100%;
    height: 50%;
    position: inherit;
    overflow: hidden;
}

#tongue_transitions {
    width: 100%;
    height: 100%;
    position: absolute;
    /* Permet de se déplacer dans le parent */
    animation: moveAround 5s infinite linear;
}




/* transition lettres  */
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-9,
.item-10,
.item-11,
.item-12,
.item-13,
.item-14,
.item-15,
.item-16,
.item-17,
.item-18,
.item-19,
.item-20,
.item-21,
.item-22 {
    position: absolute;
    display: block;
    top: 0;
    left: 10px;
    width: 100%;
    font-size: 2em;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
}


.para_click{
    text-align: center;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: underline;
    color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    color: white;
    background-color: #333;
    height: 10%;
    padding: 20px;
}

.footer_link {
    border: none;
}

/* STYLE CSS DE LA PAGE ABOUT */


/* STYLE CSS DE LA PAGE CONTACT */